# Dependencies
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log

# Build files
dist
coverage

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env.local
.env.*.local

# Version control
.git
.gitignore

# System files
.DS_Store
Thumbs.db

# folders
terraform


# terraform files 
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
*.tfout
.terraform/


# secrets
*.pem
*.key
*.pub
*.cer
*.crt
*.csr
*.p12
*.pfx
*.gpg
*.jks
*.keychain